---
title: GitLab Certified Project Management Associate
suppress_header: true
description: "GitLab Certified Project Management Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Project Management Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified Project Management Associate

        %h3 Interested in getting certified?
        %p GitLab offers two class options to prepare for certification, although neither is required in order to take the exam:
        %ol
          %li Instructor-led: Fill out the form below or contact your GitLab sales representative to schedule an instructor-led delivery of GitLab Project Management training for your team.
          %li Self-service: You can enroll in our <a href="/services/education/gitlab-technical-certification-self-paced/">self-paced option</a> to complete your certification in GitLab Learn.

        %h3 Certification Name Change
        %p As of July 27th, the name of this certification changed from GitLab Certified Project Management Specialist to GitLab Certified Project Management Associate. We will be offering a series of more advanced certifications in the coming months for those who are interested in continuing to level up their skills in this area.

        %h3 Overview
        %p GitLab Certified Project Management Associate is a <a href= '/learn/certifications/public/#technical-certifications-overview'> technical certification</a> offered by <a href= '/services/'>GitLab Professional Services</a> to help the GitLab community and team members validate their ability to use GitLab for lean and agile project management, from basic issue tracking to scrum and kanban style project management throughout the complete DevOps lifecycle. To earn certification, candidates must first pass a written assessment, followed by a hands-on lab assessment graded by GitLab Professional Services engineers.

        %h3 Availability
        %p This certification exam is available for anyone to purchase and take, regardless of whether they have participated in instructor-led GitLab training, self-service GitLab training, or neither.

        %h3 Why GitLab Certified Project Management Associate certification?
        %h4 For employers
        %p With GitLab Certified Project Management Associate certification, team managers now have a way to confirm their team members possess the skills needed to effectively use GitLab functionality for managing software development projects. All team members who achieve the certification will be able to apply GitLab project management functionality and best practices to ensure more efficient and effective software releases.

        %h4 For individuals
        %p Individuals who earn GitLab Certified Project Management Associate certification can showcase their ability to manage software development projects using GitLab functionality such as issues, epics, milestones, burndown charts, kanban boards, and agile portfolio management tools, to ensure efficient and effective software releases.

        %h3 Exam objectives
        %p Individuals who earn GitLab Certified Project Management Associate certification are able to perform the following tasks.
        %ul
          %li Set up projects by creating issues, labels, milestones, and groups
          %li Manage projects using GitLab boards, epics, and roadmaps
          %li Use GitLab to develop portfolio plans

= partial "includes/services-contact-form"

