### Manage

Primary Personas Served:
1. [Delaney - Development Team Lead](/handbook/product/personas/#delaney-development-team-lead)
1. [Cameron - Compliance Manager](/handbook/product/personas/#cameron-compliance-manager)
1. [Sasha - Software Developer](/handbook/product/personas/#sasha-software-developer)

**1. SaaS First & Enterprise Readiness:** GitLab must be seen as a platform that enterprises can use out of the box for both GitLab.com and self-managed deployments. We're doing this by focusing on improvements in several key areas:
  * Enterprise-grade authentication and authorization. Critical for large organizations managing thousands of users, we're focused on investing in SAML SSO by ensuring that it [works across a range of identity providers](https://gitlab.com/groups/gitlab-org/-/epics/1900) and automatically manages authorization with [SAML group sync](https://gitlab.com/gitlab-org/gitlab/-/issues/118).
  * [Create a consistent experience](https://gitlab.com/groups/gitlab-org/-/epics/4257) between self-managed customers and GitLab.com customers by better defining the boundaries of your workspace. Currently, these experiences differ, mainly from the reason that the code base running the two deployment types is the same. This means as a self-managed customer, you have control at the instance level. Conversely, for GitLab.com, the highest level of access is at the group level. 
    * We'll also increase the amount of control that organizations using GitLab.com have over their users without needing GitLab Support to step in. We'll add better forking controls, the ability to manage your users, and differentiate the experience between your work life and your personal projects. Additionally, we'll be giving group admins better controls over settings that were historically only available at the instance.
  * Access management for large organizations. We'll improve [subgroup membership inheritance](https://gitlab.com/gitlab-org/gitlab/-/issues/33534) and allow for confidential projects that a subset of a group's users have access to - without automatically granting access to everyone in a parent group.

Growth driver: Initial purchase

**2. Compliance Management:** GitLab should make it easy to provide compliance of the applications you develop inside of GitLab as well as ensuring GitLab itself is compliant. We'll be focused on a great experience for both of these use cases.
  * Audit information. We'll improve [audit events](https://about.gitlab.com/direction/manage/audit-events/#whats-next--why) by doing the hard engineering work to allow them to scale sufficiently and capture a comprehensive level of instance events. Using this information should also be easy: we'll deliver a [minimal version of audit reporting](https://gitlab.com/groups/gitlab-org/-/epics/2429) in GitLab and eventually introduce dashboarding and alerting to help tell your compliance story to stakeholders. In recent releases we've made progress by bolstering our audit logs and are continuing to make progress here by making it easier for admins to list personal access tokens and expiration dates.
  * Improving tools that help compliance-minded organizations thrive. GitLab makes it easy to contribute, but administrators should have comprehensive control to establish, enforce, and provide evidence of organizational policies that are part of a compliance program or framework. Our [compliance vision](/direction/manage/compliance-management/) will continue to evolve GitLab's compliance controls at the [project](https://gitlab.com/groups/gitlab-org/-/epics/2087) and [group](https://gitlab.com/groups/gitlab-org/-/epics/2187) level, and we'll iterate on the [compliance dashboard](https://gitlab.com/groups/gitlab-org/-/epics/2537) to give stakeholders an understanding on their compliance posture in a single pane of glass. You can hear more about our direction on compliance here:

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/8VGJdsxMZvY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

Growth driver: Initial purchase

**3. Providing a great import experience:** Few instances start from scratch - for most, one of the earliest tasks for a GitLab administrator is importing information from outside the application. We'll win by creating easy paths to adopt and fall in love with GitLab:

* Make importing easier at any scale. Especially for large-scale moves, we're prioritizing making the move to GitLab take less time and energy.
  * GitLab-to-GitLab transitions should be especially frictionless. We're going beyond our project import/export capabilities and extending it to [group migration](https://gitlab.com/groups/gitlab-org/-/epics/2771), making large-scale transitions at the group level straightforward.
  * Prioritize a great experience transitioning from key competitors. We're focused on the user experience when migrating from selected key competitors. Manage is currently prioritizing [GitHub](https://gitlab.com/groups/gitlab-org/-/epics/2984) while other teams focus on [Jira](/direction/ecosystem/integrations/#improve-our-jira-importer) and [Jenkins](https://about.gitlab.com/direction/verify/jenkins_importer/).

Growth driver: Initial purchase

**4. Actionable analytics:**  We've made great improvements in 2020 by releasing code review analytics, value stream analytics customization and filtering, and adding lead time and cycle time. We want to be able to prove the value of Gitlab by surfacing usage trends and delivering an [enterprise devops report](https://gitlab.com/groups/gitlab-org/-/epics/4066) area where executives and leaders can view usage and metrics for teams and projects that they care about. We'd like to solve for two main problems for executives and leaders: tracking GitLab's ROI and helping find centers of excellence. 

Growth driver: Retention
