---
layout: markdown_page
title: "Group Direction - Project Management"
description: This is the group strategy for the Project Management group; which is part of the Plan stage within the Dev section.
canonical_path: "/direction/plan/project_management/"
---

This direction page was last reviewed on:
<%= partial("direction/plan/project_management/last_updated") %>

- TOC
{:toc}

## Introduction and how you can help

👋 This is the group strategy for Project Management, which is part of the Plan stage. Please reach out to the group's Product Manager, [Gabe Weaver](https://gitlab.com/gweaver) ([E-mail](mailto:gweaver@gitlab.com)), if you'd like to provide feedback or ask any questions related to this product category.

This strategy is a work in progress and everyone can contribute:

- Please comment and contribute to the related [issues](https://gitlab.com/groups/gitlab-org/-/issues?sort=created_date&state=opened&label_name[]=group::project+management) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=group::project+management). Sharing your feedback directly on GitLab.com is the best way to contribute to our strategy and vision.
- Please share feedback directly via email, Twitter, or [schedule a quick Zoom for us to connect](https://calendly.com/gweaver/45-minute-meeting).

## Group Overview 

[GitLab's mission](https://about.gitlab.com/company/mission/#mission) is to build software so that **everyone can contribute** and we aim to be the most popular collaboration platform for knowledge workers in any industry. The Project Management Group is a cross-departmental team focused on two primary categories -- [Team Planning](/direction/plan/project_management/team_planning) and [Planning Analytics](/direction/plan/project_management/planning_analytics).

### Team Planning 

<%= partial("/direction/plan/project_management/team_planning/overview") %>

### Planning Analytics 

<%= partial("/direction/plan/project_management/team_planning/overview") %>

### Target audience

<%= partial("direction/plan/templates/target_audience") %>

## Current Investment Mix

| Category | Allocation |
| -------- | ---------- |
| Team Planning | 100%  |
| Planning Analytics | 0% |

## What we recently completed 

<%= partial("/direction/plan/project_management/team_planning/recent_accomplishments") %>

## What we are currently working on 

Our group level [issue board](https://gitlab.com/groups/gitlab-org/-/boards/1235826?&label_name[]=devops%3A%3Aplan&label_name[]=group%3A%3Aproject%20management) provides detailed insight into everything currently in flight.

### Team Planning 

<%= partial("/direction/plan/project_management/team_planning/current_focus") %>

### Planning Analytics

<%= partial("/direction/plan/project_management/planning_analytics/current_focus") %>

## What's next for us 

### Team Planning

<%= partial("/direction/plan/project_management/team_planning/whats_next") %>

### Planning Analytics

<%= partial("/direction/plan/project_management/planning_analytics/whats_next") %>

## What we're not doing

<%= partial("/direction/plan/project_management/team_planning/not_doing") %>

## Performance indicators

<%= partial("/direction/plan/project_management/performance_indicators") %>

## Competitive landscape

<%= partial("/direction/plan/project_management/competitive_landscape") %>

## Analyst landscape

<%= partial("/direction/plan/project_management/analyst_landscape") %>

## Most requested issues

- [All users](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management)
- [Customer / Customer Success](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=customer)
- [Dogfooding](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=Dogfooding)

## Top strategy items

While we are not currently working on the items listed within this section, we believe that solving for them will significantly contribute to [Plan's 3-year strategy](https://about.gitlab.com/direction/plan/#3-year-strategy). Once validated and team capacity is available, we will move these strategic items into our queue for prioritization and implementation. 

### Enterprise planning frameworks support

<%= partial("/direction/plan/project_management/theme_agile_frameworks") %>

### Use DevOps data to guide planning

<%= partial("/direction/plan/project_management/theme_devops_data") %>

### Automation and machine learning to improve quality of life

<%= partial("/direction/plan/project_management/theme_automation") %>

## Jobs To Be Done 

We are currently focused on providing industry-leading solutions for the following [Jobs To Be Done (JTBD)](https://about.gitlab.com/handbook/engineering/ux/jobs-to-be-done/):

<%= partial("direction/jtbd-list", locals: { stage_key: "team_planning" }) %>

<%= partial("direction/jtbd-list", locals: { stage_key: "planning_analytics" }) %>
